# General
build/
build-*/
*.dll
.DS_Store

# IDEs
.vs/
.idea/
*.userprefs
*.user
.vscode/.ropeproject
.vscode/ipch

# NodeJS
node_modules/
npm-debug.log
package-lock.json
.exe/

# Python
__pycache__/
*.egg-info/
yogi-python/dist/

# .NET
yogi-dotnet/**/bin/
yogi-dotnet/**/obj/
yogi-dotnet/**/packages/

# Doxygen
**/doc/*.tmp
**/doc/html/
