# CMake
build/

# Visual Studio Code
.vscode/
.editorconfig

# NodeJS
node_modules/
typings/

# Python
__pycache__/
*.pyc
dist/
*.egg-info/

# Logfiles
*.log

# C++
*.dll

# GUI solution
yogi-gui/solution/

