ul, li {
  position: relative;
}

li {
  margin: -6px -10px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: -10px;
}

ul ul {
  padding-left: 28px;
  margin-bottom: 0;
}

li::before, li::after {
  content: "";
  position: absolute;
  left: -8px;
}

li li::before {
  border-top: 1px solid grey;
  top: 16px;
  width: 8px;
  height: 0;
}

li li::after {
  border-left: 1px solid grey;
  height: 100%;
  width: 0px;
  top: 3px;
}

ul > li:last-child::after {
  height: 13px;
}

.terminal-container {
  display: block;
}

.terminal-container:not(:first-child) {
  margin-top: -6px;
}

ce-header,
ce-terminal {
  vertical-align: middle;
  display: inline-block;
}
