<ce-input-group *ngIf="canReceiveRegularMsg"
  label="Received"
  [enabled]="bound"
  [signatureHalf]="recvSignatureHalf"
  [timestamp]="lastReceivedRegularMessage?.timestamp"
  [value]="lastReceivedRegularMessage?.value"
  [isReadonly]="true"
></ce-input-group>

<ce-input-group *ngIf="canReceiveCachedRegularMsg"
  label="Cached"
  [enabled]="bound"
  [signatureHalf]="recvSignatureHalf"
  [timestamp]="lastReceivedCachedRegularMessage?.timestamp"
  [value]="lastReceivedCachedRegularMessage?.value"
  [isReadonly]="true"
></ce-input-group>

<ce-input-group *ngIf="canSendRegularMsg"
  label="Send"
  [enabled]="subscribed"
  [signatureHalf]="sendSignatureHalf"
  [hasSendButton]="true"
  [timestamp]="dummySendableTimestamp"
  [value]="dummySendableValue"
  (changed)="onRegularMessageChanged($event)"
  (sendButtonClicked)="onSendButtonClicked()"
></ce-input-group>

<ce-input-group *ngIf="canReceiveScatterMsg"
  label="Received"
  [enabled]="bound"
  [signatureHalf]="recvSignatureHalf"
  [timestamp]="lastReceivedScatterMessage?.message.timestamp"
  [value]="lastReceivedScatterMessage?.message.value"
  [isReadonly]="true"
></ce-input-group>

<ce-input-group *ngIf="canSendGatherMsg"
  label="Reply"
  [enabled]="bound"
  [signatureHalf]="sendSignatureHalf"
  [hasReplyButton]="true"
  [timestamp]="dummySendableTimestamp"
  [value]="dummySendableValue"
></ce-input-group>

<ce-input-group *ngIf="canReceiveGatherMsg"
  label="Response"
  [enabled]="subscribed"
  [signatureHalf]="recvSignatureHalf"
  [timestamp]="lastReceivedGatherMessage?.message.timestamp"
  [value]="lastReceivedGatherMessage?.message.value"
  [isReadonly]="true"
  [hasGatherButton]="true"
></ce-input-group>

<ce-input-group *ngIf="canSendScatterMsg"
  label="Request"
  [enabled]="subscribed"
  [signatureHalf]="sendSignatureHalf"
  [hasSendButton]="true"
  [timestamp]="dummySendableTimestamp"
  [value]="dummySendableValue"
></ce-input-group>
