<ce-input-group *ngIf="canReceiveRegularMsg"
  label="Received"
  [enabled]="bound"
  [signatureHalf]="recvSignatureHalf"
  [timestamp]="lastReceivedRegularMessage?.msg.timestamp"
  [value]="getMessageValue(lastReceivedRegularMessage?.msg)"
  [cached]="lastReceivedRegularMessage?.cached"
  [isReadonly]="true"
></ce-input-group>

<ce-input-group *ngIf="canSendRegularMsg"
  label="Send"
  [enabled]="subscribed"
  [signatureHalf]="sendSignatureHalf"
  [hasSendButton]="true"
  [timestamp]="dummySendableTimestamp"
  [value]="dummySendableValue"
  (changed)="onSendableRegularMsgChanged($event)"
  (sendButtonClicked)="onSendButtonClicked()"
></ce-input-group>

<ce-input-group *ngIf="canReceiveScatterMsg"
  label="Received"
  [enabled]="bound"
  [signatureHalf]="sendSignatureHalf"
  [timestamp]="lastReceivedScatterMessage?.message.timestamp"
  [value]="getMessageValue(lastReceivedScatterMessage?.message)"
  [isReadonly]="true"
></ce-input-group>

<ce-input-group *ngIf="canSendGatherMsg"
  label="Reply"
  [enabled]="bound"
  [signatureHalf]="recvSignatureHalf"
  [hasReplyButton]="true"
  [timestamp]="dummySendableTimestamp"
  [value]="dummySendableValue"
  (changed)="onSendableGatherMsgChanged($event)"
></ce-input-group>

<ce-input-group *ngIf="canReceiveGatherMsg"
  label="Last Response"
  [enabled]="subscribed"
  [signatureHalf]="recvSignatureHalf"
  [timestamp]="lastReceivedGatherMessage?.message.timestamp"
  [value]="getMessageValue(lastReceivedGatherMessage?.message)"
  [isReadonly]="true"
  [hasGatherButton]="false"
></ce-input-group>
<!-- TODO: [hasGatherButton]="true" and implement receiving all instead of only the most recent response -->

<ce-input-group *ngIf="canSendScatterMsg"
  label="Request"
  [enabled]="subscribed"
  [signatureHalf]="sendSignatureHalf"
  [hasSendButton]="true"
  [timestamp]="dummySendableTimestamp"
  [value]="dummySendableValue"
  (changed)="onSendableScatterMsgChanged($event)"
  (sendButtonClicked)="onSendButtonClicked()"
></ce-input-group>
