<div id="page-panel">
  <span class="page-panel-element page-panel-tag" title="{{processesTagTitle}}">
    {{processesTagText}}
  </span>
</div>

<div *ngFor="let entry of anomalies" class="process-panel" [hidden]="!entry.errors.length && !entry.warnings.length">
  <div class="process-path">
    <span>{{entry.processPath}}</span>
  </div>
  <div *ngFor="let message of entry.errors" class="anomaly error">
    <i class="fa fa-fw fa-times"></i>
    <span>{{message}}</span>
  </div>
  <div *ngFor="let message of entry.warnings" class="anomaly warning">
    <i class="fa fa-fw fa-warning"></i>
    <span>{{message}}</span>
  </div>
</div>
