#page {
  text-align: center;
  margin-top: 5px;
}

#signature-input {
  width: 80px;
  text-align: center;
}

#signature-type-addon {
  width: 90px;
}

input.ng-invalid {
  background: #d9534f;
  color: white;
}

.input-group {
  margin: 5px;
}

.dropdown-menu {
  min-width: 7rem;
}

.dropdown-item {
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

#code-examples {
  margin: 20px;
}

#code-examples .card-header {
  text-align: left;
}
