<ce-terminal-control *ngIf="!hidden"
  [terminalType]="terminalType"
  [signature]="signature"
  [bound]="bound"
  [subscribed]="subscribed"
  [lastReceivedRegularMessage]="lastReceivedRegularMessage"
  [lastReceivedScatterMessage]="lastReceivedScatterMessage"
  [lastReceivedGatherMessage]="lastReceivedGatherMessage"
  (sendRegularMessage)="sendRegularMessage($event)"
  (sendScatterMessage)="sendScatterMessage($event)"
  (scatterGatherReplyChanged)="onScatterGatherReplyChanged($event)"
></ce-terminal-control>
